{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "extraFileExtensions": [".svelte"]
  },
  "extends": ["prettier"],
  "plugins": ["svelte3", "prettier", "import"],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "eqeqeq": ["error", "always"],
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-unexpected-multiline": "error",
    "prefer-const": "error",
    "prettier/prettier": "error",
    "no-var": "error"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": false
  },
  "overrides": [
    {
      "files": ["*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "settings": {
    "import/extensions": [".js", ".ts"]
  }
}
