<form autocomplete="off">
  <div class="chswade--header">
    <div class="chswade--header-name">
      <label>Agent:</label>
      <input
        type="text"
        name="name"
        class="chswade--header-name__input"
        value="{{actor.name}}"
        placeholder="{{localize 'Name'}}"
      />
    </div>
    <div class="chswade--header-logo">
      <img
        class="chswade--header__chlogo"
        src="modules/crystalheart-char-sheet/assets/crystal-heart-logo.webp"
        alt="Crystal Heart Logo"
      />
      <img
        class="chswade--header__swlogo"
        src="modules/crystalheart-char-sheet/assets/swade-fan.png"
        alt="SWADE Fan Logo"
      />
    </div>
  </div>
  <div class="chswade--char-info">
    <label>
      <span>Homeland:</span>
      <input
        type="text"
        name="data.details.species.name"
        value="{{data.data.details.species.name}}"
        placeholder="Homeland"
      />
    </label>
    <label>
      <span>{{localize 'SWADE.Rank'}}:</span>
      <input
        type="text"
        name="data.advances.rank"
        value="{{data.data.advances.rank}}"
        placeholder="{{localize 'SWADE.Rank'}}"
      />
    </label>
    <label>
      <span>{{localize 'SWADE.Adv'}}:</span>
      <input type="number" name="data.advances.value" value="{{data.data.advances.value}}" />
    </label>
  </div>
</form>
